/* ==========================================================================
   EXTENSIONS / MMX / RICH TEXT EDITOR
   ========================================================================== */

mmx-text-editor {
	display: block;
}

.mmx-text-editor {
	position: relative;
	display: block;
}