/* ==========================================================================
   MMX / FEATURED PRODUCT
   ========================================================================== */

.mmx-featured-product {
	position: relative;
	display: flex;
}

.mmx-featured-product__image-slider,
.mmx-featured-product__product-content {
	min-width: 0;
	flex-basis: 0;
	flex-grow: 1;
}

.mmx-featured-product__subheading {
	display: block;
}

.mmx-featured-product__product-name-text {
	display: block;
	margin-bottom: 25px;
}

.mmx-featured-product__pricing-discounts {
	margin-bottom: 35px;
	max-width: 20em;
}

.mmx-featured-product__pricing {
	display: flex;
	align-items: center;
}

.mmx-featured-product__current-price {
	display: inline-block;
	font-size: 18px;
	color: var(--mmx-product-price-color);
}

.mmx-featured-product__original-price {
	display: inline-block;
	margin-left: 17px;
	font-size: 18px;
	color: var(--mmx-product-additional-price-color);
}

.mmx-featured-product__discounts {
	margin-top: 15px;
	font-size: .75rem;
	font-weight: var(--mmx-font-weight-medium);
	line-height: 1.25rem;
	color: var(--mmx-color-red-001);
}

.mmx-featured-product__product-inventory_message {
	margin-bottom: var(--mmx-spacing-m);
	padding: 0.875em 1.25em;
	max-width: 20em;
	background-color: var(--mmx-color-blue-03);
	border: 1px solid var(--mmx-color-blue-02);
	color: var(--mmx-color-blue-04);
	font-size: 0.875rem;
	display: flex;
	flex-direction: column;
	gap: 0.875em;
}

.mmx-featured-product__product-inventory_message:empty {
	display: none;
}

.mmx-featured-product__product-inventory_message p {
	margin: 0;
}

.mmx-featured-product__product-attributes {
	margin-bottom: 32px;
	color: var(--mmx-color-form-labels);
}

.mmx-featured-product__product-attribute {
	width: 100%;
	margin-bottom: var(--mmx-spacing-m);
}

.mmx-featured-product__product-attribute-label {
	display: inline-flex;
	font-size: 0.8125rem;
	margin-bottom: 0.5em;
}

.mmx-featured-product__product-attribute-label.required {
	font-weight: var(--mmx-font-weight-medium);
}

.mmx-featured-product__product-attribute-checkbox {
	display: block;
	font-size: 0.8125rem;
}

/* Swatch Select
   =========================================== */
.mmx-featured-product__product-attribute-select__swatch {
	display: none;
}

.mmx-featured-product__product-attribute-swatch__swatches {
	min-height: 5em;
	padding-top: 3px;
}

.mmx-featured-product__product-attribute-swatch__swatches button {
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: 0 none;
	padding: 0;
	cursor: pointer;
}

.mmx-featured-product__product-attribute-swatch__swatches img {
	border: 1px solid var(--mmx-color-primary-text);
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

.mmx-featured-product__product-attribute-swatch__swatches ul {
	list-style: none;
	margin-left: 0;
	padding: 0;
}

.mmx-featured-product__product-attribute-swatch__swatches li {
	display: inline-block;
	margin-right: var(--mmx-spacing-m);
}

.mmx-featured-product__product-attribute-swatch__swatches--active {
	border-radius: 50%;
	outline: 1px solid var(--mmx-color-primary-bg);
	outline-offset: 0.25rem;
}

.mmx-featured-product__product-attribute-swatch__swatches button:focus-visible {
	border-radius: 50%;
	outline: 2px solid var(--mmx-color-focus);
	outline-offset: 0.25rem;
}


/* Responsive Sizes for Mobile
   =========================================== */
.mmx-featured-product,
.mmx-featured-product.mmx-featured-product__image-position-right {
	flex-direction: column;
}

.mmx-featured-product__product-add-to-cart {
	margin-top: 40px;
	width: 100%;
}


/* Responsive Sizes for Tablet
   =========================================== */
@media screen and (min-width: 40em) {
	.mmx-featured-product {
		flex-direction: row;
	}

	.mmx-featured-product:not(.mmx-featured-product__image-position-right) .mmx-featured-product__product-content {
		margin-left: 40px;
	}

	.mmx-featured-product:not(.mmx-featured-product__image-position-right) .mmx-featured-product__image-slider {
		margin-right: 40px;
	}

	.mmx-featured-product.mmx-featured-product__image-position-right {
		flex-direction: row-reverse;
	}

	.mmx-featured-product.mmx-featured-product__image-position-right .mmx-featured-product__product-content {
		margin-right: 40px;
	}

	.mmx-featured-product.mmx-featured-product__image-position-right .mmx-featured-product__image-slider {
		margin-left: 40px;
	}

	.mmx-featured-product__product-add-to-cart {
		max-width: 320px;
	}
}