/* ==========================================================================
   MMX / CARD
   ========================================================================== */

:host {
	--mmx-card__size: var(--mmx-spacing-m);
	--mmx-card__gap: calc(var(--mmx-card__size) / 2);
}

.mmx-card {
	align-content: start;
	color: var(--mmx-color-body-copy);
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	position: relative;
	text-decoration: none;
	height: 100%;
}

.mmx-card__flag {
	align-items: flex-start;
	display: flex;
	gap: var(--mmx-card__gap);
	margin: var(--mmx-card__gap);
	text-align: left;
	z-index: 1;
	grid-area: main;
	place-self: start left;
}

.mmx-card__header {
	grid-area: header;
}

.mmx-card__main {
	display: grid;
	grid-area: main;
	gap: var(--mmx-card__gap);
}

.mmx-card__footer {
	grid-area: footer;
}

.mmx-card ::slotted(mmx-message) {
	--mmx-message__margin-bottom: 0;
}

.mmx-card ::slotted(img),
mmx-card [slot="main"] > img {
    aspect-ratio: var(--mmx-card__aspect-ratio, 1 / 1);
    height: auto;
    object-fit: var(--mmx-card__object-fit, contain);
    object-position: center;
    width: 100%;
}

/* ==========================================================================
   MMX / PRODUCT CARD
   ========================================================================== */
:host {
	--mmx-product-card__swatch-size: 20px;
	--mmx-product-card__swatch-border-radius: 50%;
	--mmx-product-card__swatch-border-width: 1px;
	--mmx-product-card__swatch-border-color: var(--mmx-color-primary-text);
	--mmx-product-card__swatch-border-style: solid;
}

.mmx-product-card mmx-button {
	margin-top: unset;
}

.mmx-product-card__prices mmx-text {
	display: inline-block;
}

.mmx-product-card__additional-price {
	--mmx-text__text-decoration: line-through;

	margin-left: 0.5em;
}

.mmx-product-card__detail--empty {
	display: none;
}

.mmx-product-card__attribute-swatches {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	justify-content: flex-start;
	overflow: hidden;
}

.mmx-product-card__attribute-swatch-more {
	font-size: smaller;
	margin-left: auto;

	&:hover {
		text-decoration: underline;
	}
}

.mmx-product-card__attribute-swatch-button {
	background-color: transparent;
	border: 0 none;
	cursor: pointer;
	height: var(--mmx-product-card__swatch-size);
	padding: 0;
	width: var(--mmx-product-card__swatch-size);

	&:focus-visible {
		border-radius: var(--mmx-product-card__swatch-border-radius);
		outline-offset: 0.25rem;
		outline: 2px solid var(--mmx-color-focus);
	}
}

.mmx-product-card__attribute-swatch-image {
	border-color: var(--mmx-product-card__swatch-border-color);
	border-radius: var(--mmx-product-card__swatch-border-radius);
	border-style: var(--mmx-product-card__swatch-border-style);
	border-width: var(--mmx-product-card__swatch-border-width);
	height: var(--mmx-product-card__swatch-size);
	width: var(--mmx-product-card__swatch-size);
}