<Module code="cmp-cssui-custlink" feature="component"><Edit_Update><Template><![CDATA[<a class="u-color-gray-50 u-text-uppercase" href="&mvte:urls:ACLN:secure;">
	<span class="u-icon-user u-color-gray-40" aria-hidden="true"></span> My Account
</a>
]]></Template></Edit_Update><Login_Update><Template><![CDATA[<button class="u-color-gray-50 u-text-uppercase t-global-account-toggle" data-a11y-toggle="global-account" data-hook="global-account">
	<span class="u-icon-user u-color-gray-40" aria-hidden="true"></span> Sign In
</button>
]]></Template></Login_Update></Module>
