<Module code="cmp-cssui-custlink" feature="component"><Edit_Update><Template><![CDATA[<a href="&mvte:urls:ACLN:secure;" class="t-global-account-toggle">
	My Account <span class="u-icon-user"  aria-hidden="true"></span>
</a>
]]></Template></Edit_Update><Login_Update><Template><![CDATA[<a href="&mvte:urls:LOGN:secure;" class="t-global-account-toggle" data-a11y-toggle="global-account" data-hook="global-account">
	Sign In <span class="u-icon-chevron-down"  aria-hidden="true"></span>
</a>
]]></Template></Login_Update></Module>
