<Module code="cmp-cssui-html" feature="component"><Template><![CDATA[<!DOCTYPE html>
<mvt:if expr="l.settings:page:code CIN 'ORDL,OCST,OUS1,OUSM,UATM,UATR,OSEL,OPAY' OR (g.Customer_Temporary_Password) OR ('AMAZONPAY' CIN l.settings:page:code)">
	<mvt:comment>This will set classes for use on checkout pages to clean up the header.</mvt:comment>
	<mvt:assign name="g.Session:shadows:checkout_hidden" value="'u-hidden u-hide-visually'"/>
	<mvt:assign name="g.Session:shadows:checkout_shown" value="'u-shown'"/>
	<html lang="en" class="no-js u-bg-gray-100">
<mvt:else>
	<html lang="en" class="no-js">
</mvt:if>

<mvt:comment>Release: v10.10.00</mvt:comment>

<mvt:comment>Set your theme file path here.</mvt:comment>
<mvt:assign name="g.theme_path" value="'themes/%STORE_ID%/shadows'" />

<mvt:comment>This sets the page class to the page code in lowercase.</mvt:comment>
<mvt:assign name="g.pageClass" value="tolower(l.settings:page:code)" />
]]></Template><Notes>#Set_Current_Time#</Notes></Module>
