<Page_Update code="EMAIL_SUBSCRIPTION_CANCELLED"><Item code="toe_subscription_fields"><Template><![CDATA[<!-- Item Image -->
<mvt:if expr="NOT ISNULL l.settings:subscription:items[1]:imagetypes:main">
	<div class="hide-for-mobile"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="50" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
</div>
	<div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center"><a href="&mvte:subscription:items[1]:link;" target="_blank"><img src="&mvte:global:basehref;&mvte:subscription:items[1]:imagetypes:main;" border="0" alt="&mvte:subscription:items[1]:name;" /></a></div>
	<div class="hide-for-mobile"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="50" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
</div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
</mvt:if>
<!-- END Item Image -->

<!-- Table -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td valign="top" nowrap style="border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3;" width="100%">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

			<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left"><strong>Subscription Term</strong></div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

		</td>
		<td valign="top" style="border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3;" class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"></td>
		<td valign="top" nowrap style="border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3;">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

			<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left"><strong><mvt:if expr="l.settings:subscription:status NE 'C'">Next Re-Order Date<mvt:else>Cancelled</mvt:if></strong></div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

		</td>
	</tr>
	<tr>
		<td valign="top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

			<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left"><em><mvt:if expr="l.settings:subscription:status NE 'C'">&mvte:subscription:productsubscriptionterm:descrip;<mvt:else>Cancelled</mvt:if></em></div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

		</td>
		<td valign="top" class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"></td>
		<td valign="top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

			<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:right"><em><mvt:if expr="l.settings:subscription:status NE 'C'">&mvte:subscription:formatted_nextdate_date;<mvt:else>&mvte:subscription:formatted_cncldate_date;</mvt:if></em></div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

		</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
<!-- END Table -->

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td valign="top" style="border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; padding-top: 10px; padding-bottom: 10px;" width="60%">
						<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left"><strong>Item</strong></div>
					</td>
					<td valign="top" style="border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; padding-top: 10px; padding-bottom: 10px;" class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="3%"></td>
					<td valign="top" style="border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; padding-top: 10px; padding-bottom: 10px;">
						<div class="text-1-center" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:center"><strong>Qty</strong></div>
					</td>
					<td valign="top" style="border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; padding-top: 10px; padding-bottom: 10px;" class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="3%"></td>
					<td valign="top" style="border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; padding-top: 10px; padding-bottom: 10px;">
						<div class="text-1-right" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:right"><strong>Total</strong></div>
					</td>
				</tr>
				<mvt:foreach iterator="group" array="subscription:items">
					<mvt:if expr="l.settings:group:parent_id GT 0">
						<mvt:comment>Skip child items</mvt:comment>
						<mvt:foreachcontinue />
					</mvt:if>
					<tr>
						<td valign="top" style="padding-top: 15px; padding-bottom: 15px;">
							<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left">
								&mvt:group:name;
							</div>
							<mvt:foreach iterator="option" array="group:options">
								<div class="text-3" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:14px; line-height:22px; text-align:left">
									<mvt:if expr="ISNULL l.settings:option:attr_prompt">
										<mvt:assign name="l.settings:option:attr_prompt" value="l.settings:option:attr_code" />
									</mvt:if>
									<mvt:if expr="ISNULL l.settings:option:opt_prompt">
										<mvt:assign name="l.settings:option:opt_prompt" value="l.settings:option:opt_code" />
									</mvt:if>
									<mvt:if expr="l.settings:option:option_id">
										&mvt:option:attr_prompt;: &mvt:option:opt_prompt;
									<mvt:elseif expr="NOT ISNULL l.settings:option:data">
										<mvt:if expr="( l.settings:option:attr_code EQ 'digitaldownload' ) AND ( NOT ISNULL l.settings:option:digital_download_url )">
											<a href="&mvte:option:digital_download_url;" target="_blank">Digital Download</a>
										<mvt:else>
											&mvt:option:attr_prompt;: &mvt:option:data;
										</mvt:if>
									<mvt:elseif expr="NOT ISNULL l.settings:option:data_long">
										&mvt:option:attr_prompt;: &mvt:option:data_long;
									<mvt:else>
										&mvt:option:attr_prompt;
									</mvt:if>
								</div>
							</mvt:foreach>
							<mvt:foreach iterator="discount" array="group:discounts">
								<mvt:if expr="l.settings:discount:display">
									<div class="text-3" style="color:#b13138; font-family:Arial, sans-serif; min-width:auto !important; font-size:14px; line-height:22px; text-align:left">
										&mvt:discount:descrip;
									</div>
								</mvt:if>
							</mvt:foreach>
						</td>
						<td valign="top" style="padding-top: 15px; padding-bottom: 15px;" class="img" style="font-size:0pt; line-height:0pt; text-align:left"></td>
						<td valign="top" style="padding-top: 15px; padding-bottom: 15px;">
							<div class="text-1-center" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:center">&mvte:group:quantity;</div>
						</td>
						<td valign="top" style="padding-top: 15px; padding-bottom: 15px;" class="img" style="font-size:0pt; line-height:0pt; text-align:left"></td>
						<td valign="top" style="padding-top: 15px; padding-bottom: 15px;">
							<div class="text-1-right" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:right">
								<mvt:fragment code="email_group_productcharges" />
							</div>
						</td>
					</tr>
				</mvt:foreach>
			</table>
		</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="5" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" height="1" bgcolor="#e3e3e3">&nbsp;</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="20" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="right">
			<table border="0" cellspacing="0" cellpadding="0">
				<mvt:foreach iterator="charge" array="subscription:charges">
					<tr>
						<td>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="3" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

							<div class="text-1-right" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:right">&mvt:charge:descrip;:</div>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="3" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						</td>
						<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"></td>
						<td width="115">
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="3" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

							<div class="text-1-right" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:right">&mvt:charge:formatted_disp_amt;</div>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="3" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						</td>
					</tr>
				</mvt:foreach>
				<tr>
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="3" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						<div class="h3-right" style="color:#303748; font-family:Arial, sans-serif; min-width:auto !important; font-size:18px; line-height:22px; text-align:right"><strong>Estimated Total:</strong></div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="3" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

					</td>
					<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"></td>
					<td width="115">
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="3" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						<div class="h3-right" style="color:#303748; font-family:Arial, sans-serif; min-width:auto !important; font-size:18px; line-height:22px; text-align:right"><strong>&mvt:subscription:formatted_display_total;</strong></div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="3" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

<!-- Table 2 -->
<mvt:if expr="l.settings:subscription:status NE 'C'">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="20" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

			<div class="h3" style="color:#303748; font-family:Arial, sans-serif; min-width:auto !important; font-size:18px; line-height:22px; text-align:left">
				<strong>Order Details</strong>
			</div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" height="1" bgcolor="#e3e3e3">&nbsp;</td>
				</tr>
			</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0" valign="top" width="285">
						<div class="text" style="color:#1a2026; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left"><strong>Ship To</strong></div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left">
							&mvte:subscription:address:fname; &mvte:subscription:address:lname;<br />
							&mvte:subscription:address:addr1; &mvte:subscription:address:addr2;<br />
							&mvte:subscription:address:city;, &mvte:subscription:address:state; &mvte:subscription:address:zip;<br />
							&mvte:subscription:address:cntry;
						</div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="25" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						<mvt:if expr="l.settings:subscription:ship_id">
						<div class="text" style="color:#1a2026; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left"><strong>Shipping Method</strong></div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left">&mvt:subscription:method;</div>
						</mvt:if>
					</th>
					<th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0" valign="top" width="10">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><div style="font-size:0pt; line-height:0pt;" class="mobile-br-30"></div></td>
							</tr>
						</table>
					</th>
					<th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0" valign="top">
						<div class="text" style="color:#1a2026; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left"><strong>Bill To</strong></div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left">
							<mvt:if expr="l.settings:subscription:paymentcard:id">
							&mvte:subscription:paymentcard:fname; &mvte:subscription:paymentcard:lname;<br />
							&mvte:subscription:paymentcard:addr1; &mvte:subscription:paymentcard:addr2;<br />
							&mvte:subscription:paymentcard:city;, &mvte:subscription:paymentcard:state; &mvte:subscription:paymentcard:zip;<br />
							&mvte:subscription:paymentcard:cntry;
							<mvt:else>
							&mvte:subscription:customer:bill_fname; &mvte:subscription:customer:bill_lname;<br />
							&mvte:subscription:customer:bill_addr1; &mvte:subscription:customer:bill_addr2;<br />
							&mvte:subscription:customer:bill_city;, &mvte:subscription:customer:bill_state; &mvte:subscription:customer:bill_zip;<br />
							&mvte:subscription:customer:bill_cntry;
							</mvt:if>
						</div>

						<mvt:if expr="l.settings:subscription:paymentcard:id">
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="25" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

							<div class="text" style="color:#1a2026; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left"><strong>Payment Method</strong></div>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

							<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left">&mvte:subscription:paymentcard:type; Ending in &mvte:subscription:paymentcard:lastfour;</div>
						</mvt:if>
					</th>
				</tr>
			</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="50" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

		</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" height="1" bgcolor="#e3e3e3">&nbsp;</td>
	</tr>
</table>
</mvt:if>
<!-- END Table 2 -->

<mvt:if expr="l.settings:subscription:status NE 'C'">
<!-- Button -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="center">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td align="center" bgcolor="#2a68ce">
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="40"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="50" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table></td>
								<td bgcolor="#2a68ce">
									<div class="text-btn" style="color:#ffffff; font-family:Arial, sans-serif; min-width:auto !important; font-size:18px; line-height:22px; text-align:center">
										<a href="&mvte:urls:CSBE:auto_sep;Subscription_ID=&mvta:subscription:id;" target="_blank" class="link-white" style="color:#ffffff; text-decoration:none"><span class="link-white" style="color:#ffffff; text-decoration:none">Manage Your Subscription</span></a>
									</div>
								</td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="40"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

		</td>
	</tr>
</table>
<!-- END Button -->
</mvt:if>
]]></Template><ImageTypes><ImageType>main</ImageType></ImageTypes><ImageDimensions constrain="Yes"><Width>200</Width><Height>200</Height></ImageDimensions><DisplayDiscounts>Yes</DisplayDiscounts><Notes>#Set_Current_Time#</Notes></Item></Page_Update><Page_Update code="EMAIL_SUBSCRIPTION_CHANGED"><Item code="toe_subscription_fields"><Template><![CDATA[<!-- Item Image -->
<mvt:if expr="NOT ISNULL l.settings:subscription:items[1]:imagetypes:main">
	<div class="hide-for-mobile"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="50" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
</div>
	<div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center"><a href="&mvte:subscription:items[1]:link;" target="_blank"><img src="&mvte:global:basehref;&mvte:subscription:items[1]:imagetypes:main;" border="0" alt="&mvte:subscription:items[1]:name;" /></a></div>
	<div class="hide-for-mobile"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="50" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
</div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
</mvt:if>
<!-- END Item Image -->

<!-- Table -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td valign="top" nowrap style="border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3;" width="100%">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

			<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left"><strong>Subscription Term</strong></div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

		</td>
		<td valign="top" style="border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3;" class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"></td>
		<td valign="top" nowrap style="border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3;">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

			<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left"><strong><mvt:if expr="l.settings:subscription:status NE 'C'">Next Re-Order Date<mvt:else>Cancelled</mvt:if></strong></div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

		</td>
	</tr>
	<tr>
		<td valign="top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

			<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left"><em><mvt:if expr="l.settings:subscription:status NE 'C'">&mvte:subscription:productsubscriptionterm:descrip;<mvt:else>Cancelled</mvt:if></em></div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

		</td>
		<td valign="top" class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"></td>
		<td valign="top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

			<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:right"><em><mvt:if expr="l.settings:subscription:status NE 'C'">&mvte:subscription:formatted_nextdate_date;<mvt:else>&mvte:subscription:formatted_cncldate_date;</mvt:if></em></div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

		</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
<!-- END Table -->

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td valign="top" style="border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; padding-top: 10px; padding-bottom: 10px;" width="60%">
						<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left"><strong>Item</strong></div>
					</td>
					<td valign="top" style="border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; padding-top: 10px; padding-bottom: 10px;" class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="3%"></td>
					<td valign="top" style="border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; padding-top: 10px; padding-bottom: 10px;">
						<div class="text-1-center" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:center"><strong>Qty</strong></div>
					</td>
					<td valign="top" style="border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; padding-top: 10px; padding-bottom: 10px;" class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="3%"></td>
					<td valign="top" style="border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; padding-top: 10px; padding-bottom: 10px;">
						<div class="text-1-right" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:right"><strong>Total</strong></div>
					</td>
				</tr>
				<mvt:foreach iterator="group" array="subscription:items">
					<mvt:if expr="l.settings:group:parent_id GT 0">
						<mvt:comment>Skip child items</mvt:comment>
						<mvt:foreachcontinue />
					</mvt:if>
					<tr>
						<td valign="top" style="padding-top: 15px; padding-bottom: 15px;">
							<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left">
								&mvt:group:name;
							</div>
							<mvt:foreach iterator="option" array="group:options">
								<div class="text-3" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:14px; line-height:22px; text-align:left">
									<mvt:if expr="ISNULL l.settings:option:attr_prompt">
										<mvt:assign name="l.settings:option:attr_prompt" value="l.settings:option:attr_code" />
									</mvt:if>
									<mvt:if expr="ISNULL l.settings:option:opt_prompt">
										<mvt:assign name="l.settings:option:opt_prompt" value="l.settings:option:opt_code" />
									</mvt:if>
									<mvt:if expr="l.settings:option:option_id">
										&mvt:option:attr_prompt;: &mvt:option:opt_prompt;
									<mvt:elseif expr="NOT ISNULL l.settings:option:data">
										<mvt:if expr="( l.settings:option:attr_code EQ 'digitaldownload' ) AND ( NOT ISNULL l.settings:option:digital_download_url )">
											<a href="&mvte:option:digital_download_url;" target="_blank">Digital Download</a>
										<mvt:else>
											&mvt:option:attr_prompt;: &mvt:option:data;
										</mvt:if>
									<mvt:elseif expr="NOT ISNULL l.settings:option:data_long">
										&mvt:option:attr_prompt;: &mvt:option:data_long;
									<mvt:else>
										&mvt:option:attr_prompt;
									</mvt:if>
								</div>
							</mvt:foreach>
							<mvt:foreach iterator="discount" array="group:discounts">
								<mvt:if expr="l.settings:discount:display">
									<div class="text-3" style="color:#b13138; font-family:Arial, sans-serif; min-width:auto !important; font-size:14px; line-height:22px; text-align:left">
										&mvt:discount:descrip;
									</div>
								</mvt:if>
							</mvt:foreach>
						</td>
						<td valign="top" style="padding-top: 15px; padding-bottom: 15px;" class="img" style="font-size:0pt; line-height:0pt; text-align:left"></td>
						<td valign="top" style="padding-top: 15px; padding-bottom: 15px;">
							<div class="text-1-center" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:center">&mvte:group:quantity;</div>
						</td>
						<td valign="top" style="padding-top: 15px; padding-bottom: 15px;" class="img" style="font-size:0pt; line-height:0pt; text-align:left"></td>
						<td valign="top" style="padding-top: 15px; padding-bottom: 15px;">
							<div class="text-1-right" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:right">
								<mvt:fragment code="email_group_productcharges" />
							</div>
						</td>
					</tr>
				</mvt:foreach>
			</table>
		</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="5" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" height="1" bgcolor="#e3e3e3">&nbsp;</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="20" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="right">
			<table border="0" cellspacing="0" cellpadding="0">
				<mvt:foreach iterator="charge" array="subscription:charges">
					<tr>
						<td>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="3" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

							<div class="text-1-right" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:right">&mvt:charge:descrip;:</div>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="3" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						</td>
						<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"></td>
						<td width="115">
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="3" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

							<div class="text-1-right" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:right">&mvt:charge:formatted_disp_amt;</div>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="3" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						</td>
					</tr>
				</mvt:foreach>
				<tr>
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="3" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						<div class="h3-right" style="color:#303748; font-family:Arial, sans-serif; min-width:auto !important; font-size:18px; line-height:22px; text-align:right"><strong>Estimated Total:</strong></div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="3" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

					</td>
					<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"></td>
					<td width="115">
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="3" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						<div class="h3-right" style="color:#303748; font-family:Arial, sans-serif; min-width:auto !important; font-size:18px; line-height:22px; text-align:right"><strong>&mvt:subscription:formatted_display_total;</strong></div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="3" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

<!-- Table 2 -->
<mvt:if expr="l.settings:subscription:status NE 'C'">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="20" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

			<div class="h3" style="color:#303748; font-family:Arial, sans-serif; min-width:auto !important; font-size:18px; line-height:22px; text-align:left">
				<strong>Order Details</strong>
			</div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" height="1" bgcolor="#e3e3e3">&nbsp;</td>
				</tr>
			</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0" valign="top" width="285">
						<div class="text" style="color:#1a2026; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left"><strong>Ship To</strong></div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left">
							&mvte:subscription:address:fname; &mvte:subscription:address:lname;<br />
							&mvte:subscription:address:addr1; &mvte:subscription:address:addr2;<br />
							&mvte:subscription:address:city;, &mvte:subscription:address:state; &mvte:subscription:address:zip;<br />
							&mvte:subscription:address:cntry;
						</div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="25" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						<mvt:if expr="l.settings:subscription:ship_id">
						<div class="text" style="color:#1a2026; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left"><strong>Shipping Method</strong></div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left">&mvt:subscription:method;</div>
						</mvt:if>
					</th>
					<th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0" valign="top" width="10">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><div style="font-size:0pt; line-height:0pt;" class="mobile-br-30"></div></td>
							</tr>
						</table>
					</th>
					<th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0" valign="top">
						<div class="text" style="color:#1a2026; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left"><strong>Bill To</strong></div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left">
							<mvt:if expr="l.settings:subscription:paymentcard:id">
							&mvte:subscription:paymentcard:fname; &mvte:subscription:paymentcard:lname;<br />
							&mvte:subscription:paymentcard:addr1; &mvte:subscription:paymentcard:addr2;<br />
							&mvte:subscription:paymentcard:city;, &mvte:subscription:paymentcard:state; &mvte:subscription:paymentcard:zip;<br />
							&mvte:subscription:paymentcard:cntry;
							<mvt:else>
							&mvte:subscription:customer:bill_fname; &mvte:subscription:customer:bill_lname;<br />
							&mvte:subscription:customer:bill_addr1; &mvte:subscription:customer:bill_addr2;<br />
							&mvte:subscription:customer:bill_city;, &mvte:subscription:customer:bill_state; &mvte:subscription:customer:bill_zip;<br />
							&mvte:subscription:customer:bill_cntry;
							</mvt:if>
						</div>

						<mvt:if expr="l.settings:subscription:paymentcard:id">
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="25" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

							<div class="text" style="color:#1a2026; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left"><strong>Payment Method</strong></div>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

							<div class="text-1" style="color:#7a838d; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:24px; text-align:left">&mvte:subscription:paymentcard:type; Ending in &mvte:subscription:paymentcard:lastfour;</div>
						</mvt:if>
					</th>
				</tr>
			</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="50" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

		</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" height="1" bgcolor="#e3e3e3">&nbsp;</td>
	</tr>
</table>
</mvt:if>
<!-- END Table 2 -->

<mvt:if expr="l.settings:subscription:status NE 'C'">
<!-- Button -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="center">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td align="center" bgcolor="#2a68ce">
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="40"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="50" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table></td>
								<td bgcolor="#2a68ce">
									<div class="text-btn" style="color:#ffffff; font-family:Arial, sans-serif; min-width:auto !important; font-size:18px; line-height:22px; text-align:center">
										<a href="&mvte:urls:CSBE:auto_sep;Subscription_ID=&mvta:subscription:id;" target="_blank" class="link-white" style="color:#ffffff; text-decoration:none"><span class="link-white" style="color:#ffffff; text-decoration:none">Manage Your Subscription</span></a>
									</div>
								</td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="40"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

		</td>
	</tr>
</table>
<!-- END Button -->
</mvt:if>
]]></Template><ImageTypes><ImageType>main</ImageType></ImageTypes><ImageDimensions constrain="Yes"><Width>200</Width><Height>200</Height></ImageDimensions><DisplayDiscounts>Yes</DisplayDiscounts><Notes>#Set_Current_Time#</Notes></Item></Page_Update>
