/* ==========================================================================
   MMX / FORMS
   ========================================================================== */
:root {
	--mmx-form__size: 1rem;
	--mmx-form__slider-size: calc(var(--mmx-form__size) * 1.5);
}

/* Fields */
.mmx-form-fields {
	--mmx-form-fields__column-count: 1;
	display: grid;
	gap: var(--mmx-form__size);
	grid-template-columns: repeat(var(--mmx-form-fields__column-count), 1fr);
}

/* Header */
.mmx-form-header {
	margin: 0 auto var(--mmx-form--size);
}

/* Footer */
.mmx-form-footer {
	margin-top: var(--mmx-form__size);
	padding-top: var(--mmx-form__size);
}

@media (max-width: 59.999em) {
	.mmx-form-footer mmx-button {
		display: block;
		width: 100%;
	}
}

/* Field */
.mmx-form-field {
	display: flex;
	flex-direction: column;
	gap: calc(var(--mmx-form__size) * 0.5);
}

/* Fieldset */
.mmx-form-fieldset {
	border: none;
	display: grid;
	gap: calc(var(--mmx-form__size) * 0.5);
	margin: 0;
	padding: 0;
}

/* Controls */
.mmx-form-input,
.mmx-form-textarea,
.mmx-form-select__dropdown {
	appearance: none;
	background-color: var(--mmx-color-input-background);
	border: 1px solid var(--mmx-color-input-border);
	border-radius: calc(var(--mmx-form__size) * 0.25);
	box-shadow: 0 0 0 0 rgba(var(--mmx-color-black), 0.2);
	color: var(--mmx-color-input-color);
	cursor: pointer;
	font-family: var(--mmx-font-family-1);
	font-size: calc(var(--mmx-form__size) * 0.8);
	padding: calc(var(--mmx-form__size) * 0.8);
	position: relative;
	transition: box-shadow 0.25s ease, border-color 0.25s ease;
	width: 100%;
}

.mmx-form-select__dropdown option {
	color: initial;
}

.mmx-form-input--minimal,
.mmx-form-textarea--minimal,
.mmx-form-select--minimal .mmx-form-select__dropdown {
	border: 0;
	padding: calc(var(--mmx-form__size) * 0.25) 1px;
}

/* Control: Text Area */
.mmx-form-textarea {
	min-height: 6em;
	resize: vertical;
}

/* Control: Dropdown */
.mmx-form-select {
	position: relative;
}

.mmx-form-select::after,
.mmx-form-select__picker-icon::after {
	border-color: var(--mmx-color-input-color);
	border-style: solid;
	border-width: 0 1px 1px 0;
	content: "";
	height: 0.5em;
	margin-bottom: 0.25em;
	pointer-events: none;
	position: absolute;
	right: 1em;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
	width: 0.5em;
}

.mmx-form-select__dropdown {
	padding-right: calc(var(--mmx-form__size) * 2);
}

.mmx-form-select--minimal::after {
	top: 45%;
	right: calc(var(--mmx-form__size) * 0.25);
}

.mmx-form-select--minimal .mmx-form-select__dropdown {
	padding-right: calc(var(--mmx-form__size) * 2);
}

/* Control: State: Error */
.mmx-form-field--error {
	--mmx-color-input-color: var(--mmx-color-input-color--error);
	--mmx-color-input-background: var(--mmx-color-input-background--error);
	--mmx-color-input-border: var(--mmx-color-input-border--error);
}

/* Control: State: Disabled */
:where(.mmx-form-input, .mmx-form-textarea, .mmx-form-select, .mmx-form-input-range__slider-button):disabled {
	background-color: var(--mmx-color-input-background--disabled);
	cursor: not-allowed;
	opacity: 1;
}

/* Control: State: Focus */
:where(.mmx-form-input, .mmx-form-textarea, .mmx-form-select, .mmx-form-input-range__slider-button):focus:not(:focus-visible),
:where(.mmx-form-checkbox, .mmx-form-radio):focus:not(:focus-within) {
	outline: none;
}

:where(.mmx-form-input, .mmx-form-textarea, .mmx-form-select, .mmx-form-input-range__slider-button):focus-visible,
:where(.mmx-form-checkbox, .mmx-form-radio):focus-within {
	outline: 2px solid var(--mmx-color-focus);
	outline-offset: 1px;
	transition: none;
}

/* Label */
.mmx-form-label,
.mmx-form-caption {
	color: var(--mmx-color-form-labels);
	cursor: pointer;
	font-size: calc(var(--mmx-form__size) * 0.8);
	font-weight: var(--mmx-font-weight-normal);
}

.mmx-form-label--required {
	font-weight: var(--mmx-font-weight-medium);
}

.mmx-form-label--optional {
	font-style: italic;
}

.mmx-form-label--required:where(.is-emphasized)::after {
	color: var(--mmx-color-red-001);
	content: '*';
	font-size: calc(var(--mmx-form__size) * 0.7);
}

.mmx-form-label--optional:where(.is-emphasized)::after {
	content: ' (Optional)';
}

/* Field Description */
.mmx-form-field-description {
	color: var(--mmx-color-body-copy);
	font-size: calc(var(--mmx-form__size) * 0.75);;
}

/* Field Error Message */
.mmx-form-field-error-message {
	color: var(--mmx-color-error-text);
	font-size: calc(var(--mmx-form__size) * 0.75);;
}

/* Form Size */
.mmx-form--size-s {
	--mmx-form__size: 0.8rem;
}

.mmx-form--size-m {
	--mmx-form__size: 1rem;
}

.mmx-form--size-l {
	--mmx-form__size: 1.2rem;
}

/* Control: Radio */
.mmx-form-radio {
	& .mmx-form-radio__caption,
	& .mmx-form-radio-caption {
		align-items: center;
		display: flex;
		margin-left: 1rem;
		position: relative;
		user-select: none;

		&::before {
			background: var(--mmx-color-input-background);
			border-radius: 100%;
			border: var(--default-border-width) solid var(--mmx-color-input-border);
			content: "";
			display: inline-block;
			flex-shrink: 0;
			height: 1rem;
			margin-left: -1rem;
			margin-right: 0.5em;
			position: relative;
			width: 1rem;
		}
	}

	& .mmx-form-radio__input,
	& .mmx-form-radio-input {
		border: 0;
		clip: rect(0 0 0 0);
		height: auto;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		white-space: nowrap;
		width: 1px;

		&:checked + .mmx-form-radio__caption,
		&:checked + .mmx-form-radio-caption {
			&::before {
				background: var(--mmx-color-primary-text);
				border-color: var(--mmx-color-primary-bg);
			}

			&::after {
				position: absolute;
				top: 50%;
				left: calc(-1rem + calc(var(--default-border-width) * 4));
				width: calc(1rem - calc(8 * var(--default-border-width)));
				height: calc(1rem - calc(8 * var(--default-border-width)));
				background: var(--mmx-color-primary-bg);
				border: 0 none;
				border-radius: 100%;
				transform: translateY(-50%);
				content: "";
			}
		}

		&:disabled + .mmx-form-radio__caption,
		&:disabled + .mmx-form-radio-caption {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}
}

/* Control: Checkbox */
.mmx-form-checkbox {
	& .mmx-form-checkbox__caption {
		align-items: center;
		display: flex;
		margin-left: 1rem;
		position: relative;
		user-select: none;

		&::before {
			background: var(--mmx-color-input-background);
			border-radius: 2px;
			border: var(--default-border-width) solid var(--mmx-color-input-border);
			content: "";
			display: inline-block;
			flex-shrink: 0;
			height: 1rem;
			margin-left: -1rem;
			margin-right: 0.5em;
			position: relative;
			width: 1rem;
		}
	}

	& .mmx-form-checkbox__input {
		border: 0;
		clip: rect(0 0 0 0);
		height: auto;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		white-space: nowrap;
		width: 1px;

		&:checked + .mmx-form-checkbox__caption {
			&::before {
				background: var(--mmx-color-primary-bg);
				border-color: var(--mmx-color-primary-bg);
			}

			&::after {
				--mmx-form__checkbox-shape: 86.94% 12.50%, 80.36% 18.89%, 35.36% 63.14%, 11.54% 44.39%, 0% 58.59%, 30.33% 82.50%, 36.75% 87.50%, 42.68% 81.75%, 100% 25.36%;
				background: var(--mmx-color-primary-text);
				border: none;
				clip-path: polygon(var(--mmx-form__checkbox-shape));
				content: "";
				height: 0.6rem;
				left: calc(-1rem + calc(var(--default-border-width) * 3));
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 0.6rem;
			}
		}

		&:disabled + .mmx-form-checkbox__caption {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}
}

/* Control: Input Range */
.mmx-form-input-range {
	border-radius: calc(var(--mmx-form__size) * 0.25);
	display: grid;
}

.mmx-form-input-range__controls {
	padding: calc(var(--mmx-form__size) / 2);
}

.mmx-form-input-range__slider {
	padding: calc(var(--mmx-form__size) / 2);
}

.mmx-form-input-range__track {
	height: calc(var(--mmx-form__slider-size) + 2px);
	margin: 0 calc(var(--mmx-form__slider-size) / 2);
	position: relative;
}

.mmx-form-input-range__slider-background,
.mmx-form-input-range__slider-selection {
	background: var(--mmx-color-input-border);
	height: calc(var(--mmx-form__size) * 0.25);
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.mmx-form-input-range__slider-selection {
	background: color-mix(in srgb, var(--mmx-color-input-border), var(--mmx-color-black) 50%);
	width: auto;
}

.mmx-form-input-range__slider-button {
	background: var(--mmx-color-input-background);
	border: 1px solid var(--mmx-color-input-border);
	border-radius: 100%;
	cursor: pointer;
	height: var(--mmx-form__slider-size);
	left: 0;
	padding: 0;
	position: absolute;
	transform: translateX(-50%);
	width: var(--mmx-form__slider-size);
}

.mmx-form-input-range__controls {
	align-items: center;
	display: grid;
	grid-template-columns: [low] 2fr [label] 1fr [high] 2fr;
	text-align: center;
}

.mmx-form-input-range__input {
	text-align: center;
}

.mmx-form-input-range__input-label-low,
.mmx-form-input-range__input-low {
	grid-area: low;
}

.mmx-form-input-range__label {
	grid-area: label;
}

.mmx-form-input-range__input-label-high,
.mmx-form-input-range__input-high {
	grid-area: high;
}

.mmx-form-input-range__input-label {
	color: var(--mmx-color-input-color);
	background: var(--mmx-color-input-background);
	margin: 2px;
	user-select: none;
	z-index: 1;
}

.mmx-form-input-range__input-low:focus-visible + .mmx-form-input-range__input-label-low,
.mmx-form-input-range__input-high:focus-visible + .mmx-form-input-range__input-label-high {
	display: none;
}

/* Control: Input Quantity */
.mmx-form-input-quantity {
	background-color: var(--mmx-color-input-background);
	border-radius: calc(var(--mmx-form__size) * 0.25);
	border: 1px solid var(--mmx-color-input-border);
	box-shadow: 0 0 0 0 rgba(var(--mmx-color-black), 0.2);
	color: var(--mmx-color-input-color);
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(3, 1fr);
	padding: 0;
	transition: box-shadow 0.25s ease, border-color 0.25s ease;
}

.mmx-form-input-quantity__button {
	background: transparent;
	border-radius: calc(var(--mmx-form__size) * 0.25);
}

.mmx-form-input-quantity__button:hover:not([disabled]) {
	border: 1px solid var(--mmx-color-input-border);
}

.mmx-form-input-quantity__control {
	background: transparent;
	border: 1px solid transparent;
	color: var(--mmx-color-input-color);
	cursor: pointer;
	font-family: var(--mmx-font-family-1);
	position: relative;
	width: 100%;
	text-align: center;
}

.mmx-form-input-quantity__control[disabled] {
	cursor: not-allowed;
}

.mmx-form-input-quantity__input::-webkit-outer-spin-button,
.mmx-form-input-quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mmx-form-input-quantity__input[type=number] {
  -moz-appearance: textfield;
}

/* Input Quantity: Sizes
   =========================================== */
.mmx-form-input-quantity__size--xs .mmx-form-input-quantity__control {
	font-size: calc(var(--mmx-form__size) * 0.7);
	padding: calc(var(--mmx-form__size) * 0.75) 0;
}

.mmx-form-input-quantity__size--s .mmx-form-input-quantity__control{
	font-size: calc(var(--mmx-form__size) * 0.75);
	padding: calc(var(--mmx-form__size) * 0.9) 0;
}

.mmx-form-input-quantity__size--m .mmx-form-input-quantity__control {
	font-size: calc(var(--mmx-form__size) * 0.8);
	padding: calc(var(--mmx-form__size) * 1.1) 0;
}

.mmx-form-input-quantity__size--l .mmx-form-input-quantity__control{
	font-size: var(--mmx-form__size);
	padding: calc(var(--mmx-form__size) * 1.30) 0;
}

/* Control: Input Combobox */
.mmx-combobox {
	display: grid;
	grid-template: "input";
	position: relative;

	> * {
		grid-area: input;
		overflow: hidden;
	}
}

.mmx-combobox__select-button,
.mmx-combobox__search {
	padding-left: calc(var(--mmx-form__size) * 0.5);
	padding-right: calc(var(--mmx-form__size) * 0.5);
}

.mmx-combobox__select-button {
	overflow: hidden;
	padding-right: 1.5rem;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;

	&[disabled] {
		cursor: not-allowed;
		opacity: 0.7;
	}
}

.mmx-combobox__search {
	border: 1px solid transparent;
	cursor: text;

	&::-webkit-search-cancel-button {
		-webkit-appearance: none;
		appearance: none;
		display: none;
	}

	&:focus-visible {
		outline: none;
	}
}

.mmx-combobox__popover {
	background: var(--mmx-color-input-background);
	border: none;
	border-radius: calc(var(--mmx-form__size) * 0.25);
	color: var(--mmx-color-input-color);
	display: none;
	inset: auto;
	justify-self: anchor-center;
	left: anchor(left);
	margin: 0;
	outline: 1px solid var(--mmx-color-input-border);
	overflow-y: auto;
	padding: 0;
	top: anchor(top);
	width: anchor-size(width);

	&:popover-open {
		box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.05);
		display: block;
		outline-color: var(--mmx-color-input-color);
	}

	&:popover-open ~ .mmx-combobox__select-button {
		display: none;
	}
}

.mmx-combobox__listbox {
	list-style: none;
	margin: 0;
	max-height: 20em;
	overflow-y: auto;
	padding: 0;
}

.mmx-combobox__option {
	cursor: pointer;
	display: grid;
	padding: calc(var(--mmx-form__size) * 0.5) calc(var(--mmx-form__size) * 0.75);

	&[aria-selected="true"],
	&:hover:not([disabled]) {
		background-color: var(--mmx-color-input-border);
	}

	&[hidden] {
		display: none;
	}
}

.mmx-combobox__option--label {
	cursor: default;
	font: var(--mmx-call-to-action-font);
}

.mmx-combobox__hide-popover {
	background: transparent;
	border: 0;
	cursor: pointer;
    font-size: inherit;
	height: 3em;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 2.5em;

	&::after {
		transform: rotate(225deg);
	}
}