/* ==========================================================================
   MMX / DIALOG
   ========================================================================== */
:host {
	--mmx-dialog__size: 1rem;
	--mmx-dialog__padding: calc(var(--mmx-dialog__size) * 1.625);
}

[part~="trigger"] {
	background: none;
	border: none;
	padding: 0;
}

[part~="dialog"] {
	border: 0;
	border-radius: calc(var(--mmx-dialog__size) / 2);
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
	max-width: 90vw;
	outline: 0;
	padding: var(--mmx-dialog__padding);
}

[part~="dialog"][open] {
	display: grid;
	gap: var(--mmx-dialog__size);
	grid-template-areas:
		"header close"
		"content content";
	grid-template-columns: 1fr min-content;
}

@media screen and (min-width: 60em) {
	[part~="dialog"] {
		max-width: var(--mmx-dialog__max-width);
	}
}

[part~="dialog"]::backdrop {
	background: rgba(0, 0, 0, 0.8);
}

[part~="dialog-close"] {
	grid-area: close;
	margin-top: calc(var(--mmx-dialog__padding) / -2);
	margin-right: calc(var(--mmx-dialog__padding) / -2);
}

[part~="dialog-close"]:hover,
[part~="dialog-close"]:focus {
	color: var(--mmx-color-grey-05);
}

[part~="dialog-header"] {
	grid-area: header;
}

[part~="dialog-content"] {
	grid-area: content;
}